# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: $
    strategy:
      fail-fast: true
      matrix:
        java_version: [1.8, 9, 10, 11, 12, 13, 14]
        os: [windows-latest, macOS-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: $
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Check liniting
      run: ./gradlew detekt
    - name: Check vulnerabilities with Gradle
      run: ./gradlew dependencyCheckAnalyze
    - name: Run Tests with Gradle
      run: ./gradlew test
    - name: Build with Gradle
      run: ./gradlew build
